.RobotField {
  text-align: center;
  height: 70vh;
}

.RobotField-logo {
  height: 40vmin;
  pointer-events: none;
}

.submit-button{
  position: absolute;
  bottom: 100px;
  left: 50px;
}
.submit-field-size{
  position: absolute;
  bottom: 220px;
  left: 50px;
}
.submit-robot-speed{
  position: absolute;
  bottom: 340px;
  left: 50px;
}

@media (prefers-reduced-motion: no-preference) {
  .RobotField-logo {
    animation: RobotField-logo-spin infinite 20s linear;
  }
}

.RobotField-header {
  background-color: #282c34;
  border-radius: 20px;
  display: flex;
  height: 70vh;
  justify-content: right;
  padding-right: 50px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.RobotField-link {
  color: #61dafb;
}

@keyframes RobotField-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}